.default-form {
    height: 100%;
    width: 100%;

    padding: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    &__header {
        font-weight: bold;
        font-size: 24px;
        width: 100%;
        margin-bottom: 16px;
    }

    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}

.form-wrapper {
    grid-area: 1 / 2 / 3 / 3;
    position: relative;
    margin: 5vw;
    background-color: var(--background-color);
    height: 100%;

    &__button {

        position: absolute;
        height: 36px;
        width: 36px;
        right: calc(16px + 32px);
        top: 16px;
        padding: 0;
        border-radius: 3px;
    }
}

.input-block {
    position: relative;

    &__element {
        display: block;
        border: var(--border-default);
        background-color: var(--background-element);

        padding: var(--border-radius-default);
        border-radius: var(--border-radius-default);
        transition-duration: 0.3s;
        transition-property: all;
        transition-delay: 0s;

        min-height: 2.5rem;
        width: 100%;

        font-size: 14px;
        line-height: 17px;

        margin-bottom: 8px;

        &::placeholder {
            color: var(--selected-wallet);
        }

        &:focus,
        &:focus-visible {
            border: var(--border-selected);
        }

        &::placeholder {
            color: var(--selected-wallet);
        }
        // &:hover {
        //     background-color: var(--background-element-dark);
        // }

    }

    &__element.error {
        border-color: red;
    }

    &__error {
        display: none;

        background-color: var(--error-field);
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        opacity: .9;
        padding: 4px;
        font-size: 12px;
        color: red;
        font-weight: bolder;
    }

    &__error.visible {
        display: block;
        position: absolute;

        &::before {
            content: '';
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid #c51244;
            position: absolute;
            top: -3px;
        }
    }
}



@media only screen and (max-width: 768px) {

    .form-wrapper {
        grid-area: 2 / 1 / last-line / last-line;
    }
}