.storages-layer {
    grid-area: balance;
}

.storages {

    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;


    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;
    }

    &__title {
        font-size: 24px;
        color: var(--button-default-text-color);
    }

    &__add-btn {
        width: 32px;
        height: 32px;
        min-height: fit-content;
        border-radius: 3px;
    }

    &__cards {
        display: flex;
        overflow: auto;
        width: 100%;
        padding-bottom: 8px;
    }

}

.total-layer {
    grid-area: data;

}

.graph-layer {
    grid-area: graph;
}

.total {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.value-card {
    width: 30%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    &__name {
        margin-bottom: 16px;
    }

    &__wrapper {
        background-color: var(--background-element);
        max-height: 80px;
        width: 100%;
        padding: 8px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 8px;
    }

    &__icon {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 56px;
        background-color: var(--background-color);

        &>svg {
            width: 15px;

            >path {
                fill: var(--selected-wallet);
            }
        }
    }
}

.history-layer {
    grid-area: history;
}

.history {
    height: 100%;
    display: flex;
    flex-direction: column;

    &__header,
    &__choice-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 24px;
        margin-bottom: 16px;
    }

    &__choice-btn {
        gap: 16px;

        >button {
            width: 50%;
        }

        &--select {
            background-color: var(--button-default-color);
            color: var(--button-default-text-color);
        }
    }

    &__tape {
        overflow-y: auto;
        height: 100%;

        display: flex;
        flex-direction: column;
        gap: 8px;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.history-card {
    display: grid;
    grid-template-columns: auto 1fr 1fr 16px;
    gap: 4px;
    align-items: center;
    row-gap: 8px;

    &__amount,
    &__btn {
        justify-self: end;
    }
}

.change-transaction {
    display: flex;
    justify-content: space-between;

    &__selected {
        background-color: var(--background-element);
    }
}

@media only screen and (max-width: 768px) {

    .total-layer {
        max-height: 150px;
    }

    .storages-layer {
        padding: 0;

        .layer-header {
            margin-left: 24px;
            margin-right: 24px;
            margin-top: 24px;

        }

        .storages__cards {
            width: auto;
            margin-left: 24px;

            margin-top: 24px;
            margin-bottom: 24px;
        }
    }
}