.home {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "menu content"
        "menu content"
        "menu content";
}

.common-layer {
    background-color: var(--background-color);
    border-radius: 16px;
    padding: 24px;
}

@media only screen and (max-width: 768px) {
    .home {
        grid-template-columns: 1fr;
        grid-template-rows: 80px auto;
        grid-template-areas:
            "menu"
            "content";
    }
}

@import './wallets/styles.scss';
@import './statistics/styles.scss';
@import './transactions/styles.scss';
@import './profile/styles.scss';