.home {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "menu content"
        "menu content"
        "menu content";
}

.layer {
    grid-area: content;
    padding: 16px;

    display: grid;

    grid-template-areas:
        "balance balance balance balance balance"
        "data data data history history"
        "graph graph graph history history"
        "graph graph graph history history"
    ;

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 16px;

}

.common-layer {
    background-color: var(--background-color);
    border-radius: 16px;
    padding: 24px;
}

@media only screen and (max-width: 768px) {
    .home {
        grid-template-columns: 1fr;
        grid-template-rows: 80px auto;
        grid-template-areas:
            "menu"
            "content";
    }

    .layer {
        grid-template-areas:
            "balance"
            "data"
            "history"
            "graph"
        ;

        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        gap: 16px;
        padding: 0;
    }
}

@import './storages/styles.scss'