.menu {
    z-index: 9999;
    grid-area: menu;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: var(--button-default-text-color);

    border-radius: 0 8px 8px 0;

    &__content {
        min-width: 90px;
        display: flex;
        flex-direction: column;
        padding-left: 16px;

        a {
            height: 80px;
            background-color: var(--button-default-text-color);

            path,
            circle {
                fill: var(--app-background);
            }
        }
    }

    &__burger-menu {
        &>.active {


            background-color: var(--app-background);
            border-radius: 8px 0 0 8px;


            path,
            circle {
                fill: var(--button-default-text-color);
            }

        }
    }

    &__burger-icon {
        &--hide {
            display: none;
        }
    }

    &__exit-btn {

    }

}


@media only screen and (max-width: 768px) {
    .menu {
        position: fixed;
        width: 100%;
        height: 80px;
        border-radius: 0 0 8px 8px;

        &__content {
            transition: all 0.3s;
            position: fixed;

            left: 0;
            top: 80px;
            width: 100%;
            height: 100%;

            background-color: rgba(40, 36, 36, 0.6);

            display: block;
            padding: 0;
            transform: translateX(0);
            z-index: 1;
        }


        &__burger-menu {
            background-color: var(--app-background);
            height: 50%;
            padding: 8px;

            border-radius: 0 0 8px 8px;
            display: flex;
            flex-direction: column;

            gap: 8px;

            >a {
                transition: all 0.3;
                background-color: transparent;
                color: var(--button-default-text-color);

                align-self: start;
                font-size: 24px;
                font-weight: bold;
            }

            .active {
                text-decoration: underline solid var(--selected-wallet-dark);
                text-underline-offset: 5px;
                color: var(--selected-wallet-dark);
            }
        }

        &__burger-icon {
            &--hide {
                display: block;
                position: fixed;
                left: 24px;
            }
        }

        .open {
            path {
                stroke: var(--selected-wallet);
            }
        }

        >.hidden {
            transform: translateX(-100%);
            background-color: rgba(40, 36, 36, 0);
            z-index: -1;

            // height: ;
            >.menu__burger-menu {
                // height: 0;
            }
        }
    }
}

// .menu {
//     position: sticky;
//     background: var(--button-default-text-color);
//     display: flex;
//     flex-direction: row;
//     width: 100vw;
//     justify-content: space-between;
//     min-height: 3rem;
//     color: var(--button-default-text-color);

//     z-index: 9999;

//     &__burger-icon {
//         min-width: 5rem;
//     }

//     &__burger-menu {

//         transition: .9s all cubic-bezier(0.175, 0.885, 0.32, 1);
//         position: absolute;

//         transform: translateX(-100%);

//         position: absolute;

//     }

//     &__content {
//         padding: 10px;
//         background-color: var(--background-color);
//         height: 50%;
//         border-radius: 8px;
//         transition: .5s
//     }
// }


// .active.menu__burger-menu {
//     transform: translateX(0);
//     width: 100%;
//     background-color: rgba($color: #000000, $alpha: .6);
//     height: 100vh;
//     z-index: 9999;
// }

// .hamburger {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     margin-left: 10px;
//     height: 100%;
//     padding: 5px 0;
//     z-index: 100;
//     gap: 3px;
//     transition: .5s all;


//     &-element {
//         transition: .5s all;
//         transform: rotate(0);
//         background-color: var(--background-element);

//         height: 3px;
//         border-radius: 10px;

//         &:nth-child(1),
//         &:nth-child(3) {
//             width: 3vw;
//             transform: rotate(0) translateY(0);
//         }

//         &:nth-child(2) {
//             width: 4vw;
//             transform: translateX(0);
//         }
//     }
// }


// .active.hamburger {
//     transform: translateX(20%);

//     .hamburger-element {
//         background: var(--selected-wallet);

//         &:nth-child(1) {
//             transform: rotate(205deg) translateY(-5px);
//         }

//         &:nth-child(3) {
//             transform: rotate(-205deg) translateY(5px);
//         }

//         &:nth-child(2) {
//             transform: translateX(-10px);
//             width: 0;
//             height: 0;
//         }

//     }
// }

// @media (min-width: 580px) {
//     .menu {
//         width: 8vw;
//         min-width: 90px;
//         grid-area: menu;

//         &__burger-icon {
//             display: none;
//         }

//         &__burger-menu {
//             position: fixed;

//             transform: translateX(0);
//             height: 100%;

//         }

//         &__content {
//             height: 100%;
//             border-radius: 0;
//             padding: 0;
//             background-color: inherit;
//             // color: ;
//         }
//     }

//     .hamburger {
//         display: none;
//     }

//     .profile-panel {
//         grid-area: header;
//         background-color: inherit;
//     }
// }