.input-block {
    &__element {
        display: block;
        border: var(--border-default);
        background-color: var(--background-element);

        padding: var(--border-radius-default);
        border-radius: var(--border-radius-default);
        transition-duration: 0.3s;
        transition-property: all;
        transition-delay: 0s;

        min-height: 2.5rem;
        width: 100%;

        &::placeholder {
            color: var(--selected-wallet);
        }

        &:focus,
        &:focus-visible {
            border: var(--border-selected);
        }

        &:hover {
            background-color: var(--background-element-dark);
        }
    }
}

.default-button {
    border-radius: var(--border-radius-default);
    padding: var(--border-radius-default);
    color: var(--button-selected-text-color);
    background-color: var(--button-selected-color);
    border: none;
    transition-duration: 0.3s;
    transition-property: all;
    transition-delay: 0s;

    display: block;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 8px;
    padding: 10px 30px;


    &--icon {
        width: 36px;
        height: 36px;
        border-radius: var(--border-radius-default);
        padding: 0;
    }

    &--disabled {
        background-color: var(--button-default-color);
    }
}

.layer-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    margin-bottom: 16px;

    &__name {
        font-weight: bold;
        color: var(--button-default-text-color);
        font-size: 24px;
    }
}


@import './stick.scss';
@import './card.scss';
@import './formElement.scss';
@import './editBtn.scss';