.wallets-layer {
    grid-area: balance;
}

.wallets {

    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;


    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;
    }

    &__title {
        font-size: 24px;
        color: var(--button-default-text-color);
    }

    &__add-btn {
        width: 32px;
        height: 32px;
        min-height: fit-content;
        border-radius: 3px;
    }

    &__cards {
        display: flex;
        overflow: auto;
        width: 100%;
        padding-bottom: 8px;
    }

}

.summary-layer {
    grid-area: data;

}

.graph-layer {
    grid-area: graph;
}

.summary {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.summary-card {
    width: 30%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    &__name {
        margin-bottom: 16px;
    }

    &__wrapper {
        background-color: var(--background-element);
        max-height: 80px;
        width: 100%;
        padding: 8px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 8px;
    }

    &__icon {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 56px;
        background-color: var(--background-color);

        &>svg {
            width: 20px;

            >path {
                fill: var(--selected-wallet);
                stroke: var(--selected-wallet);
            }
        }
    }
}


@media only screen and (max-width: 768px) {

    .summary-layer {
        max-height: 150px;
    }

    .wallets-layer {
        padding: 0;

        .layer-header {
            margin-left: 24px;
            margin-right: 24px;
            margin-top: 24px;

        }

        .wallets__cards {
            width: auto;
            margin-left: 24px;
            margin-bottom: 24px;
        }
    }
}