.transaction-layer {
    grid-template-areas:
        'balance balance'
        'expense income'
        'expense income';
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.transactions-data {

    &__expense {
        grid-area: expense;
    }

    &__income {
        grid-area: income;
    }
}

@media only screen and (max-width: 768px) {
    .transaction-layer {
        grid-template-areas: 'balance'
            'expense'
            'income';
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

}